<div class="container padnav">
  <% if @sport.id != 3 %>
    <h2>Feel like playing some <%= @sport.name %> eh?</h2>
  <% else %>
    <h2>Feel like doing some <%= @sport.name %> eh?</h2>
  <% end %>

  <a href= "/create">
    <button type="button" class= "btn btn-success">CREATE MATCH</button>
  </a>
  <h2>Open Matches</h2>
  <table class="table">
    <thead>
      <tr class="text-red">
        <th>#</th>
        <th>Location</th>
        <th>Time</th>
        <th>Match Creator</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @num=1 %>
      <% @matches.each do |match| %>
      <tr>
       <td><a href="/match/<%= match.id %>"><%= @num %></a></td>
        <td><%= match.address %></td>
        <td><%= match.start_time %> to <%= match.end_time %></td>
        <td class="text-capitalize"><%= match.player_one.username %></td>
        <td><%= match.created_at.to_date %></td>
        <td><a href="/match/<%= match.id %>"><button type="button" class="btn-success"> Open Match</button></a></td>
      </tr>
      <% @num +=1 %>
      <% end %>
    </tbody>
  </table>


<h2>Your Open Matches</h2>
  <table class="table">
    <thead>
      <tr class="text-red">
        <th>#</th>
        <th>Location</th>
        <th>Time</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @num=1 %>
      <% @mymatches.each do |mymatch| %>
      <tr>
       <td><a href="/match/<%= mymatch.id %>"><%= @num %></a></td>
        <td><%= mymatch.address %></td>
        <td><%= mymatch.start_time %> to <%= mymatch.end_time %></td>
        <td><%= mymatch.created_at.to_date %></td>
        <td><a href="/match/<%= mymatch.id %>"><button type="button" class="btn-success"> Open Match</button></a></td>
      </tr>
      <% @num +=1 %>
      <% end %>
    </tbody>
  </table>
</div>


<!-- js -->
<script type="text/javascript" src="../../js/jquery-1.8.0.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>